@media all and (max-width: 320px) {
    body {
        margin: 0;
        font-family: "Hiragino Kaku Gothic ProN";
    }
     
     header{
        width:100%;
        height:70px;
        background-color:rgb(72, 72, 72,0.8);
        background-size: cover;
        padding:10 20px;
        border-bottom: 1px solid gray;
        position:fixed;
        top:0;
        z-index:10;
     }
      
         .header-left{
            float:left;
            margin-left:40px;
         }
    
         .header-right{
            float:right;
            margin-right:100px;
            opacity: 0.8;
         }
    
    
         .header-right a{
           float:left;
           font-size:20px;
           margin:20px 40px 0 0;
           padding:10px 20px;
           color:white;
           background-color: gray;
           text-decoration: none;
           border-radius: 8px;
           display: none;
         }
    
         .header-right a:hover{
             background-color: black;
         }
    
         .menu-icon{
             float:right;
             font-size:25px;
             color:white;
             padding:21px 0;
         }
    
         .logo{
           width:70px;
           height:70px;
           border-radius: 50%;
         }
    
    main{
       text-align: center;
       height:9000px;
       width:100%;
     }
    
         .mainvisual img{
             width:100%;
             height: 1000px;
             margin:90px 0;
             display:none;
             background-image:url("https://github.com/kutcyrus/kutcyrus.sample/blob/main/E9D6ACFC-B798-4F7F-827E-A0681E231DA4.jpeg?raw=true");
             
         }
         
         .title{
             border-bottom:1px solid gray;
             display: inline-block;
             margin-bottom:20px;
             color:rgb(72, 72, 72);
             padding-top: 180px;
             margin-top:-180px;
         }
    
         .about{
            margin-bottom:30px;
            height: 450px;
         }
             .about-contaier{
                  margin: 10px;
             }
    
                  .icon{
                      float:left;
                      margin-left:140px;
                 }
    
                  .icon-image{
                      height:100px;
                      width:100px;
                      border-radius: 50%;
                 }
             
                 .plofile{
                     float:right;
                     text-align: center;
                     margin-right:120px;
                 }
                     .plofile-name{
                         font-size:15px;
                         font-weight:bold;
                         color:rgb(72, 72, 72);
                     }
                     .plofile-about{
                         font-size: 15px;
                         color:gray;
                     }
    
         .work{
             height:600px;
         }
    
             .work-container{
                 margin:0;
             }
                 .languages{
                    float: left;
                    width: 600px;
                    height: 600px;
                    margin-left:70px;
                    margin-top:20px;
                    position: relative;
                    border-radius: 50%;
                    border: 0.5px solid #E6E7E8;
                 }
                     .work-title{
                       font-size: 20px;
                       color:rgb(72, 72, 72);
                       font-weight: bold;
                     }
    
                     .work-icon{
                         width:100px;
                     }
    
                         .html{
                            position:absolute;
                            left:250px;
                            top:70px;
                         }
                         .css{
                            position:absolute;
                            left:80px;
                            top:180px;
                         }
                         .javascript{
                            position:absolute;
                            left:140px;
                            top:400px;
                         }
                         .java{
                            position:absolute;
                            left:360px;
                            top:400px;
                         }
                         .postgresql{
                            position:absolute;
                            left:430px;
                            top:180px;
                         }
    
                 .tools{
                     float: right;
                     width: 600px;
                     height: 600px;
                     margin-right:70px;
                     margin-top:20px;
                     position: relative;
                     border-radius: 50%;
                     border: 0.5px solid #E6E7E8;
                 }
        
                       
                     .backlog{
                        position:absolute;
                        left:250px;
                        top:70px;
                     }
                     .sourcetree{
                        position:absolute;
                        left:80px;
                        top:180px;
                     }
                     .eclipse{
                        position:absolute;
                        left:140px;
                        top:400px;
                     }
                     .VScode{
                        position:absolute;
                        left:360px;
                        top:400px;
                     }
                     .chatwork{
                        position:absolute;
                        left:430px;
                        top:180px;
                     }
    
    
         .fashion{
             margin-bottom: 300px;
             height:1200px;
         }
    
             .fashion-container{
                 margin:170px;
             }
             
                 .codes{
                     margin-bottom:20px;
                     margin-top:30px;
                     height:250px;
                     border-bottom: 0.5px solid #b2b2b2;
                     padding:20px;
                 }
                
                     .code{
                         margin:0;
                     }
    
                         .code-image{
                             float:left;
                             margin-left:200px;
                             width:250px;
                             height: 250px;
                             object-fit:cover;
                         }
                         .code-about{
                             float:right;
                             margin-right:280px;
                         }
                         .code-image-upsidedown{
                             float:right;
                             margin-right:200px;
                             width:250px;
                             height: 250px;
                             object-fit:cover;
                        }
                        .code-about-upsidedown{
                             float:left;
                             margin-left:280px;
                        }
                             
                             .code-title{
                                 font-weight: bold;
                                 color:rgb(72, 72, 72);
                             }
                             .code-texts{
                                 color:gray;
                             }
    
         .art{
             margin-bottom:300px;
             height: 500px;
         }
             .art-container{
                 margin:170px;
             }
                 .samples{
                    margin:20px;
                 }
                     .sample{
                         width:25%;
                         float:left;
                     }
                         .sample-image{
                             width:80%;
                         }
                         .sample-title{
                             font-weight:bold;
                             color:rgb(72, 72, 72);
                         }
                         .sample-texts{
                             color:gray;
                         }
    footer{
         height:100px;
         border-top:1px solid gray;
    }
         .footer-logo{
             float:left;
             margin:20px 50px;
         }
    
         .footer-image{
             width:100px;
         }
    
         .SNS{
            float:left;
            margin-left:350px;
            width:600px;
            text-align: center;
            height: 100px;
         }
    
             .sns-icon{
                 float:left;
                 color:white;
                 background-color:gray;
                 border-radius: 50%;
                 font-size:50px;
                 padding:20px;
                 width:50px;
             }
    
             .sns-icon:hover{
                 background-color:rgb(72, 72, 72);
             }
    
         .message{
             float:right;
             margin:33px 50px;
             background-color: gray;
             border-radius: 4px;
             padding:8px 24px;
         }
    
             .message a{
                 color:white;
                 text-decoration: none;
             }
    
             .message:hover{
                  background-color:rgb(72, 72, 72);
             }
}
