@media all and (max-width: 520px) {
    
header,main,footer,.img{
    width:100vw;
}

    body {
        margin: 0;
        width: 100%;
        font-family: "Hiragino Kaku Gothic ProN";
    }
     
     header{
        width:100%;
        height:70px;
        background-color:rgb(72, 72, 72,0.8);
        background-size: cover;
        padding:10 20px;
        border-bottom: 1px solid gray;
        position:fixed;
        top:0;
        z-index:10;
     }
      
         .header-left{
            float:left;
            margin-left:20px;
         }
    
         .header-right{
            float:right;
            margin-right:100px;
            opacity: 0.8;
         }
    
    
         .header-right a{
           float:left;
           font-size:20px;
           margin:20px 40px 0 0;
           padding:10px 20px;
           color:white;
           background-color: gray;
           text-decoration: none;
           border-radius: 8px;
           display: none;
         }
    
         .header-right a:hover{
             background-color: black;
             display: none;
         }
    
         .menu-icon{
             float:right;
             text-align: center;
             font-size:30px; 
             margin:0 15px 0 0;
             padding:10px;
             color:white;
             border-radius: 8px;
             display: block;
         }

         .menu-icon:hover{
            background-color: black;
            display: none;
        }
        
         .logo{
           width:70px;
           height:70px;
           border-radius: 50%;
         }

         .header-right{
            display: flex;
            position: fixed;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity0.5s, visibility 0.5s;
            background-color: aquamarine;
            z-index: 1;
         }

         .header-right a{
            margin-bottom: 30px;
            color: aqua;
            text-decoration: none;
         }

         .header-right.show{
            opacity:1;
            visibility: visible;
         }
    
    main{
       text-align: center;
       height:7800px;
       width:100%;
     }

         .mainvisual{
            width:100%;
            height: auto;
            margin:90px 0;
            display: block;
        }
        
         .title{
             border-bottom:1px solid gray;
             display: inline-block;
             margin-bottom:20px;
             color:rgb(72, 72, 72);
             padding-top: 180px;
             margin-top:-180px;
         }
    
         .about{
            margin:auto;
            height: 700px;
         }
             .about-contaier{
                  margin:auto;

             }
    
                  .icon{
                    width: 100%;
                      float: left;
                      margin-left:0;
                 }
    
                  .icon-image{
                      height:100px;
                      width:100px;
                      border-radius: 50%;
                 }
             
                 .plofile{
                    width: 100%;
                    float: left;
                    margin-left:0;
                 }
                     .plofile-name{
                         font-size:15px;
                         font-weight:bold;
                         color:rgb(72, 72, 72);
                     }
                     .plofile-about{
                         font-size: 15px;
                         color:gray;
                     }
    
         .work{
             margin: auto;
             height:1100px;
         }
    
             .work-container{
                margin:auto;
             }
                 .languages{
                    float: left;
                    width:  95vw;
                    height: 95vw;
                    margin:40px 2% ;
                    position: relative;
                    border-radius: 50%;
                    border: 0.5px solid #E6E7E8;
                 }
                     .work-title{
                       font-size: 17px;
                       color:rgb(72, 72, 72);
                       font-weight: bold;
                     }
    
                     .work-icon{
                         width:60px;
                     }
    
                         .html{
                            position:absolute;
                            left:170px;
                            top:70px;
                         }
                         .css{
                            position:absolute;
                            left:50px;
                            top:140px;
                         }
                         .javascript{
                            position:absolute;
                            left:90px;
                            top:260px;
                         }
                         .java{
                            position:absolute;
                            left:240px;
                            top:260px;
                         }
                         .postgresql{
                            position:absolute;
                            left:280px;
                            top:140px;
                         }
    
                 .tools{
                    float: left;
                    width:  95vw;
                    height: 95vw;
                    margin:40px 2% ;
                    position: relative;
                    border-radius: 50%;
                    border: 0.5px solid #E6E7E8;
                 }
        
                       
                     .backlog{
                        position:absolute;
                        left:170px;
                        top:70px;
                     }
                     .sourcetree{
                        position:absolute;
                        left:50px;
                        top:140px;
                     }
                     .eclipse{
                        position:absolute;
                        left:90px;
                        top:260px;
                     }
                     .VScode{
                        position:absolute;
                        left:240px;
                        top:260px;
                     }
                     .chatwork{
                        position:absolute;
                        left:280px;
                        top:140px;
                     }
    
    
         .fashion{
             margin-bottom:30px;
         }
    
             .fashion-container{
                margin:0 auto;
                width: auto;
                height:2700px;
             }
             
                 .codes{
                    width:auto;
                    height:700px;
                     margin-bottom:20px;
                     margin-top:30px;
                     padding-bottom:20px;
                     border-bottom:  0.5px solid #b2b2b2;
                 }
    
                         .code-image {
                            float: left;
                             margin:0 auto;
                             width:100%;
                             height: 350px;
                             object-fit:cover;
                         }
                         .code-about{
                             float:left;
                             margin:0 auto;
                             width:100%;
                             height: 350px;
                         }
                         .code-image-upsidedown{
                            float: left;
                            width:100%;
                            height: 350px;
                            object-fit:cover;
                        }
                        .code-about-upsidedown{
                            float:left;
                            margin: 0 auto;
                            width:100%;
                            height: 350px;
                        }
                             
                             .code-title{
                                 font-weight: bold;
                                 color:rgb(72, 72, 72);
                             }
                             .code-texts{
                                 color:gray;
                             }
    
         .art{
             margin-top:1000px;
         }
             .art-container{
                margin:0 auto;
                width: 100%;
                height: 1000px;
             }
                 .samples{
                    margin:20px;
                 }
                     .sample{
                         width:100%;
                         float:left;
                     }
                         .sample-image{
                             width:100%;
                             box-shadow: 0 0 20px 5px #b5b5b5;
                         }
                         .sample-title{
                             font-weight:bold;
                             color:rgb(72, 72, 72);
                         }
                         .sample-texts{
                             color:gray;
                             height: 100px;
                         }
    footer{
         height:100px;
         border-top:1px solid gray;
    }
         .footer-logo{
             float:left;
             margin:10px 10px;
             display: none;
         }
    
         .footer-image{
             width:100px;
             display: none;
         }
    
         .SNS{
            float:left;
            width:260px;
            height: 60px;
            margin-left: 0;
         }
    
             .sns-icon{
                 float: left;
                 color:white;
                 background-color:gray;
                 border-radius: 50%;
                 font-size:30px;
                 width:8vw;
                 height: 8vw;
             }
             
             .sns-icon span{
                margin-top:3px;
             }
    
             .sns-icon:hover{
                 background-color:rgb(72, 72, 72);
             }
    
         .message{
             margin:auto;
             background-color: gray;
             border-radius: 4px;
             padding:3px 8px;
             margin:40px 30px;
             font-size: 15px;

         }
    
             .message a{
                 color:white;
                 text-decoration: none;
             }
    
             .message:hover{
                  background-color:rgb(72, 72, 72);
             }
}
